@import "tailwindcss";

@theme {
  --color-olive: #3F4A36;
  --color-gold: #D4AF37;
  --color-cream: #F8F5F0;
  --color-beige: #E8DFC8;
  
  --color-background: var(--color-cream);
  --color-foreground: #171717;

  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
